body{
    margin: 0;
    }
.koHo{
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

section{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first {
    background-image: url("backgr1.png");
}
.container{
    width: 70%;
    height: 40%;
    display: flex;
}
.box1{
    width: 50%;
    height: 100%;
    background-image: url("image1.png");
    background-size: cover;
    background-position: center;
}
.box2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
h1{
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    margin: 0;
}
.text{
    font-size: 25px;
}
button{
    width: 77%;
    height: 20%;
    font-size: 30px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.second{
    background: url("backgr2.png");
    flex-direction: column;
}
iframe{
    width: 63%;
    height: 52%;
    flex-shrink: 0;
}
.textBox {
    margin-top: 10%;
    width: 63%;
    height: 18%;
    font-size: 35px;
    text-align: justify;
}
.third{
    background: url("backgr2.png");
    justify-content: space-around;
}
.block {
    width: 30%;
    height: 68%;
    background: rgba(83, 83, 83, 0.40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pic{
    width: 90%;
    height: 30%;
}
p{
    font-size: 35px;
}
h3{
    font-size: 35px;
}
.btn{
    width: 90%;
    height: 11%;
    color: #6B6666;
}
