/*Завдання 1. Для першого блоку: задай кожному парному елементу списку рожевий колір*/
.block1>ul>li:nth-child(even){
    color: deeppink;
}
/*Завдання 2. Для другого блоку: задай кожному не парному елементу списку розмір 22px*/
.block2>ul>li:nth-child(odd){
   font-size: 22px;
}
/*Завдання 3. Для третього блоку: задай кожному 2-му елементу, починаючи з 4-го елемента -  псевдоелемент :after та додай "!" до кожного з зазначених пунктів*/
.block3>ul>li:nth-child(2n+4)::after{
   content: "!";
}
/*Завдання 4. Для четвертого блоку: Задай фіолетовий колір для останнього елемента списку*/
.block4>ul>li:last-child{
    color: #8736d1;
}
/*Завдання 5.Для п'ятого блоку: Задай розмір 30px для перших літер списка, а також зміни колір на червоний*/
.block5 > ul > li::first-letter{
    color: #d02a2f;
    font-size: 30px;
}
/*Завдання 6. Додай довільний фавікон*/